<div class="slidable-container">
  <div class="slide">
    <div id="dashboard-panel">
      <div class="header">
        <div class="title">
          <img src="./img/logo.png">
        </div>
        <div class="setting-button">
          <span class="icon-burger"></span>
        </div>
      </div>
      <div class="content">
        <div class="info-list-container hidden">
          <div class="l-grid-wrapper">
            <div class="l-grid10">
              <div class="row top-menu">
                <span class="label">Information</span>
              </div>
            </div>
          </div>
          <ul id="info-list"></ul>
        </div>
        <div class="device-list-container">
          <div class="l-grid-wrapper">
            <div class="l-grid10">
              <div class="row top-menu">
                <span class="label">Air Purifier</span>
                <span class="add-button icon-add"></span>
              </div>
            </div>
          </div>
          <ul id="device-list"></ul>
        </div>
        <div class="no-device-container hidden">
          <span>Please connect the device.</span>
          <img src="./img/img-ap.png">
          <!-- <span>CDAP4500BCA</span> -->
          <div id="connect-button" class="l-button">
            <span class="icon-add"></span>&nbsp;
            <span>Connect</span>
          </div>
        </div>
      </div>
      <div class="footer">
        <img src="./img/banner.jpg">
      </div>
      <div class="clickme hidden">
        <div class="spotlight"></div>
        <div class="message">
          <p><span class="bold">Tap here</span><br>and<br><span class="bold">check the new features!!</span></p>
        </div>
      </div>
    </div>
  </div><!--
--><div class="slide">
    <div id="account-panel">
      <div class="row account">
        <span class="avatar icon-user"></span>
        <span class="label">Guest user</span>
        <span id="account-control-button" class="icon-circle-arr"></span>
      </div>
      <div class="active-block" style="display:none">
        <div id="edit-account-button" class="row">
          <span class="label">Edit Account</span>
          <span class="icon-next"></span>
        </div>
        <div id="logout-button" class="row">
          <span class="label">Log out</span>
          <span class="icon-next"></span>
        </div>
      </div>
      <div class="inactive-block">
        <div class="row trans">
          <p class="text middle-text">You need to Log in or Create an account in order to use the device management and Amazon Alexa functions.</p>
        </div>
        <div class="row thin trans">
          <div id="learn-button" class="label l-button hilight">
            <span class="icon-help"></span>&nbsp;<span>Learn more</span>
          </div>
        </div>
        <div class="row thin trans">
          <div id="login-button" class="label l-button">
            <span>Log in</span>
          </div>
        </div>
        <div class="row thin trans">
          <div id="create-account-button" class="label l-button">
            <span>Create an account</span>
          </div>
        </div>
      </div>
      <div class="row title">
        <span class="label">Device</span>
      </div>
      <div id="add-purifier-button" class="row">
        <span class="icon icon-menu-add1"></span>
        <span class="label">Add the air purifier</span>
      </div>
      <div class="row title">
        <span class="label">Others</span>
      </div>
      <div id="voice-control-button" class="row toggle">
        <span class="icon icon-menu-alexa"></span>
        <span class="label">Voice control</span>
        <span class="icon-next"></span>
      </div>
      <div class="voice-control-list" style="display:none">
        <div id="amazon-alexa-button" class="row">
          <span class="icon icon-blank"></span>
          <span class="label">Amazon Alexa</span>
        </div>
        <div id="google-home-button" class="row">
          <span class="icon icon-blank"></span>
          <span class="label">Google Assistant</span>
        </div>
      </div>
      <div id="shopping-button" class="row">
        <span class="icon icon-menu-shopping"></span>
        <span class="label">Shopping</span>
      </div>
      <div id="app-setting-button">
        <span class="label">Developer Options</span>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  'use strict';

(function($) {

  var LATEST_CLICKME_VER = 1;
  var CLICKME_RECORD_KEY = 'clickme'; // clickme操作履歴

  var $slidableContainer;
  var $dashboardPanel;
  var $accountPanel;

  $(function() {
    $dashboardPanel = $('#dashboard-panel');
    $accountPanel   = $('#account-panel');
    $slidableContainer = $('.slidable-container').swipe()
      .on('swipeLeft', swipeLeftHandler)
      .on('swipeRight', swipeRightHandler);

    updateInfoList();
    updateDeviceList();
    enterTrap();

    var account = _guardian.currentAccount();
    if (account) {
      $('.account', $accountPanel).addClass('active').find('.label').text(account);
    }

    $('.setting-button', $dashboardPanel).click(settingHandler);
    $('.add-button', $dashboardPanel).click(addDeviceHandler);
    $('.clickme', $dashboardPanel).click(clickMeHandler);
    $('#connect-button', $dashboardPanel).click(addDeviceHandler);

    $('#account-control-button', $accountPanel).click(accountControlHandler);
    $('#learn-button', $accountPanel).click(learnMoreHandler);
    $('#login-button', $accountPanel).click(loginHandler);
    $('#logout-button', $accountPanel).click(logoutHandler);
    $('#create-account-button', $accountPanel).click(createAccountHandler);
    $('#edit-account-button', $accountPanel).click(editAccountHandler);

    $('#add-purifier-button', $accountPanel).click(addDeviceHandler);
    $('#voice-control-button', $accountPanel).click(toggleVoiceControlHandler);
    $('#amazon-alexa-button', $accountPanel).click(amazonAlexaHandler);
    $('#google-home-button', $accountPanel).click(googleAssistantHandler);
    $('#shopping-button', $accountPanel).click(shoppingHandler);
    $('#app-setting-button', $accountPanel).click(appSettingHandler);

    $('.footer').click(bannerHandler);
    $('.l-button').pressable();

    Activity.addEventListener('onPause', pauseHandler);
  });

  function updateInfoList() {
    var $infoList = $('#info-list', $dashboardPanel);
    console.warn('infoList', $infoList);
    AppFeature.getUnacceptedFeatures(function(features) {
      console.warn('features', features);
      features.forEach(function(feature) {
        $infoList.append(createInfoItem(feature));
      });
      if ($infoList.children().length) {
        $infoList.parent().removeClass('hidden');
      }
    });
  }

  function createInfoItem(feature) {
    console.warn('createInfoItem:', feature);
    return $('<li>').attr('data-featureid', feature.id)
      .append($('<div class="text">')
        .append($('<div class="title">').text(feature.title))
        .append($('<div class="message">').text(feature.message))
        .append($('<div class="link">').text('For more detail'))
        .click(infoDetailHandler)
      )
      .append($('<div class="close">')
        .append($('<i class="icon-cross">'))
        .click(infoCloseHandler)
      );
  }

  function updateDeviceList() {
    var $deviceList = $('#device-list', $dashboardPanel);
    getRegisteredDevices(function(devices) {
      devices = devices.filter(function(device) {
        return (device instanceof Purifier);
      });
      // debug
      /*
      devices = [];
      for (var i=0; i<10; i++) {
        var device = new Purifier({});
        device.uniqueId = '000000' + i;
        device.deviceName = 'Device [' + i + ']';
        devices.push(device);
      }
      */
      var $fragment = $(document.createDocumentFragment());
      devices.forEach(function(device, i) {
        $fragment.append(createDeviceItem(device));
      });
      $deviceList.empty().append($fragment);

      if (!devices.length) {
        $deviceList.parent().addClass('hidden').next().removeClass('hidden');
      } else {
        $deviceList.parent().removeClass('hidden').next().addClass('hidden');
      }
    });
  }

  function createDeviceItem(device) {
    var deviceIcon = device.getDeviceIcon() || {};
    return $('<li>').attr('data-uniqueid', device.getUniqueId())
      .append($('<div class="device-icon">').attr({
        'data-type' : deviceIcon.type,
        'data-color': deviceIcon.color
      }))
      .append($('<div class="text">').attr('data-label', 'Air Purifier').append($('<span>').text(device.getDeviceName())))
      .on('touchstart', function() {
        $(this).addClass('pressed');
      })
      .on('touchend touchcancel', function() {
        $(this).removeClass('pressed');
      })
      .click(deviceClickHandler);
  }

  function infoCloseHandler() {
    console.warn('infoCloseHandler');
    $(this).closest('li').fadeOut(300, function() {
      var $this = $(this), $conatiner = $this.closest('.info-list-container');
      var featureId = $this.attr('data-featureid');
      var remaining = $this.siblings().length;
      console.warn('remaining:%d', remaining);
      $this.remove();
      if (!remaining) {
        $conatiner.addClass('hidden');
      }
      if (featureId) {
        AppFeature.acceptFeature(featureId);
      }
    });
  }

  function infoDetailHandler() {
    console.warn('infoDetailHandler');
    var self = this;
    var featureId = $(this).closest('li').attr('data-featureid');
    if (featureId) {
      AppFeature.actionFeature(featureId, function() {
        infoCloseHandler.call(self);
      });
    }
  }

  function deviceClickHandler() {
    var uniqueId = $(this).data('uniqueid');
    console.debug('deviceClickHandler id=' + uniqueId);
    getRegisteredDevice(uniqueId, function(device) {
      if (device) {
        _targetPurifier = device;
        Activity.removeEventListener('onPause', pauseHandler);
        routes.device.control('left');
      }
    });
  }

  function swipeLeftHandler() {
    if (!$slidableContainer.hasClass('slide')) {
      $slidableContainer.addClass('slide')
    }
  }

  function swipeRightHandler() {
    if ($slidableContainer.hasClass('slide')) {
      $slidableContainer.removeClass('slide')
    }
  }

  function settingHandler() {
    console.debug('settingHandler');
    Activity.removeEventListener('onPause', pauseHandler);
    if (!$slidableContainer.toggleClass('slide').hasClass('slide')) {
      var $accountControlButton = $('#account-control-button', $dashboardPanel);
      if ($accountControlButton.hasClass('active')) {
        $accountControlButton.trigger('click');
      }
    };
  }

  function appSettingHandler() {
    console.debug('appSettingHandler');
    _guardian.goAppSettingsScreen();
  }

  function accountControlHandler() {
    var $this = $(this);
    $this.toggleClass('active');
    if ($this.hasClass('active')) {
      $('.active-block').slideDown();
    } else {
      $('.active-block').slideUp();
    }
  }

  function addDeviceHandler() {
    console.debug('addDeviceHandler');
    Activity.removeEventListener('onPause', pauseHandler);
    // 機器登録(RF)画面へ遷移
    jumpRegistration();
  }

  function enterTrap() {
    // 今の所アカウント対応前からのユーザーのみ対象
    if (_guardian.isLoggedIn()) {
      return;
    }
    Activity.load(CLICKME_RECORD_KEY, function(data) {
      var clickme = true;
      if (data && data.hasOwnProperty('version')) {
        var clickme = data.version !== LATEST_CLICKME_VER;
      }
      if (clickme) {
        $('.clickme', $dashboardPanel).removeClass('hidden');
      }
    });
  }

  function learnMoreHandler() {
    routes.startup.help(true);
  }

  function loginHandler() {
    routes.dashboard.login(true, null, function() {
      overlayMonitorTimerStart(function(visible) {
        var account = _guardian.currentAccount();
        if (account) {
          $('.account', $accountPanel).addClass('active').find('.label').text(account);
          // デバイス一覧更新
          updateDeviceList();
        }
      });
    });
  }

  function logoutHandler() {
    console.debug('logoutHandler');
    loading(true);
    _guardian.accountLogout(function() {
      var $account = $('.account', $accountPanel);
      $account.find('.label').text('Guest user');
      $account.removeClass('active');
      // デバイス一覧更新
      updateDeviceList();
      loading(false);
    }, function(err) {
      loading(false);
      var title = 'Failed to log out';
      var message = 'Please confirm the network is actually connected to internet.';
      Activity.showDialog({title: title, message: message});
    });
  }

  function createAccountHandler() {
    log('createAccountHandler');
    var url = _guardian.getLinkUrl(Guardian.Link.SIGNUP);
    if (url && Activity.launchActivity(url)) {
      Activity.addEventListener('onResume', function() {
        hubea.system.activity.getResult(function(result) {
          if (!$.isPlainObject(result) || !result.username || !result.password) {
            return;
          }
          loading(true);
          _guardian.accountLogin({username: result.username, password: result.password}, function() {
            loading(false);
            var account = _guardian.currentAccount();
            if (account) {
              $('.account', $accountPanel).addClass('active').find('.label').text(account);
              // デバイス一覧更新
              updateDeviceList();
            }
          }, function(err, data) {
            loading(false);
            var title = 'Failed to log in';
            var message = 'Please confirm the network is actually connected to internet.';
            if (err === Guardian.ErrorTypes.CS_ERROR && data === Guardian.ErrorTypes.GS_INVALID_ACCOUNT) {
              message = 'Your username or password is incorrect.';
            }
            Activity.showDialog({title: title, message: message}, function() {
              $('#password').val('');
            });
          });
        });
      }, true);
    }
  }

  function editAccountHandler() {
    log('editAccountHandler');
    var url = _guardian.getLinkUrl(Guardian.Link.ACCOUNT_SETTING);
    if (url && Activity.launchActivity(url, {username: _guardian.currentAccount()})) {
      // TODO: afterProc
    }
  }

  function clickMeHandler() {
    $(this).addClass('hidden');
    Activity.save(CLICKME_RECORD_KEY, {version: LATEST_CLICKME_VER});
  }

  function toggleVoiceControlHandler() {
    var $this = $(this);
    $this.toggleClass('open');
    if ($this.hasClass('open')) {
      $this.next('.voice-control-list').slideDown();
    } else {
      $this.next('.voice-control-list').slideUp();
    }
  }

  function amazonAlexaHandler() {
    console.debug('amazonAlexaHandler');
    var voiceControlUrl = hubea.util.absolutePath('./vcontrol.html');
    log('launch voice control with url:' + voiceControlUrl);
    Activity.launchActivity(voiceControlUrl);
  }

  function googleAssistantHandler() {
    console.debug('googleAssistantHandler');
    var voiceControlUrl = hubea.util.absolutePath('./vcontrol.html#type=google');
    log('launch voice control with url:' + voiceControlUrl);
    Activity.launchActivity(voiceControlUrl);
  }

  function shoppingHandler() {
    console.debug('shoppingHandler');
    var shoppingUrl = hubea.util.absolutePath('./shopping.html');
    Activity.launchActivity(shoppingUrl);
  }

  function bannerHandler() {
    console.debug('bannerHandler');
    Activity.launchApp('http://www.guardiantechnologies.com');
  }

  function pauseHandler() {
    setTimeout(function() {
      if (Activity.swapAvailableCache(true)) {
        return;
      }
      var $deviceList = $('#device-list', $dashboardPanel);
      if ($deviceList.children('li').length) {
        _guardian.refreshFace(function(refreshed) {
          if (refreshed) {
            // デバイス一覧更新
            updateDeviceList();
          }
        });
      }
    }, 0);
  }

})(jQuery);
</script>
