<div class="header ico-picker">
  <div class="title">Select Icon</div>
  <div class="close-button">
    <span class="icon-cross"></span>
  </div>
</div>
<div class="ico-picker-panel">
  <div class="device-icon" data-type="01" data-color="re"></div>
  <div class="device-icon" data-type="01" data-color="or"></div>
  <div class="device-icon" data-type="01" data-color="gr"></div>
  <div class="device-icon" data-type="01" data-color="bl"></div>
  <div class="device-icon" data-type="01" data-color="pp"></div>
  <div class="device-icon" data-type="02" data-color="re"></div>
  <div class="device-icon" data-type="02" data-color="or"></div>
  <div class="device-icon" data-type="02" data-color="gr"></div>
  <div class="device-icon" data-type="02" data-color="bl"></div>
  <div class="device-icon" data-type="02" data-color="pp"></div>
  <div class="device-icon" data-type="03" data-color="re"></div>
  <div class="device-icon" data-type="03" data-color="or"></div>
  <div class="device-icon" data-type="03" data-color="gr"></div>
  <div class="device-icon" data-type="03" data-color="bl"></div>
  <div class="device-icon" data-type="03" data-color="pp"></div>
  <div class="device-icon" data-type="04" data-color="re"></div>
  <div class="device-icon" data-type="04" data-color="or"></div>
  <div class="device-icon" data-type="04" data-color="gr"></div>
  <div class="device-icon" data-type="04" data-color="bl"></div>
  <div class="device-icon" data-type="04" data-color="pp"></div>
  <!-- (Omit this line of doors.  Not sure what room it is for.)
  <div class="device-icon" data-type="05" data-color="re"></div>
  <div class="device-icon" data-type="05" data-color="or"></div>
  <div class="device-icon" data-type="05" data-color="gr"></div>
  <div class="device-icon" data-type="05" data-color="bl"></div>
  <div class="device-icon" data-type="05" data-color="pp"></div>
  -->
  <div class="device-icon" data-type="06" data-color="re"></div>
  <div class="device-icon" data-type="06" data-color="or"></div>
  <div class="device-icon" data-type="06" data-color="gr"></div>
  <div class="device-icon" data-type="06" data-color="bl"></div>
  <div class="device-icon" data-type="06" data-color="pp"></div>
  <div class="device-icon" data-type="07" data-color="re"></div>
  <div class="device-icon" data-type="07" data-color="or"></div>
  <div class="device-icon" data-type="07" data-color="gr"></div>
  <div class="device-icon" data-type="07" data-color="bl"></div>
  <div class="device-icon" data-type="07" data-color="pp"></div>
  <div class="device-icon" data-type="08" data-color="re"></div>
  <div class="device-icon" data-type="08" data-color="or"></div>
  <div class="device-icon" data-type="08" data-color="gr"></div>
  <div class="device-icon" data-type="08" data-color="bl"></div>
  <div class="device-icon" data-type="08" data-color="pp"></div>
</div>
<script type="text/javascript">
  'use strict';

$(function() {
  var $header = $('.header.ico-picker');
  var $pickerPanel = $('.ico-picker-panel');

  $('.close-button', $header).click(closeHandler);

  var iconW = $('.device-icon:first-child', $pickerPanel).outerWidth();
  $('.device-icon', $pickerPanel)
  .css('height', iconW + 'px')
  .on('touchstart', function() {
    $(this).addClass('pressed');
  })
  .on('touchend touchcancel', function() {
    $(this).removeClass('pressed');
  })
  .click(iconSelectHandler);

  function closeHandler() {
    console.debug('[Picker] closeHandler');
    routes.device.icon(false);
  }

  function iconSelectHandler() {
    _editIcon = {
      type: $(this).data('type'),
      color: $(this).data('color')
    };
    routes.device.icon(false);
  }

  function resizePanel() {
    $pickerPanel.height(document.body.clientHeight - $header.outerHeight());
  }

  var windowResizingTimer;
  $(window).resize(function() {
    if (windowResizingTimer) {
      clearTimeout(windowResizingTimer);
    }
    windowResizingTimer = setTimeout(resizePanel, 200);
  });

  setTimeout(resizePanel, 250);

});
</script>;