<div id="register-panel" class="s1 reset">
  <div class="content">
    <div class="close-button">
      <span class="icon-cross"></span>
    </div>
    <div class="entrance-view">
      <span>Factory reset</span><br>
      <div class="image">
        <img src="./img/reset.png">
      </div>
    </div>
    <p id="conflict-note" class="balloon fade-out">
      Plug off of the purifiers other than you would like to register.
    </p>
  </div>
  <div class="footer">
    <div class="l-grid-wrapper">
      <div class="l-grid10">
        <div class="row trans">
          <span class="text center bold">Press and hold the "LINK" button until green light starts blinking.</span>
        </div>
        <div class="row trans">
          <span class="text center middle-text">This screen closes when is the operation is complete.</span>
        </div>
        <div class="row trans">
          <p class="balloon">
            <span class="icon-help"></span>&nbsp;<span>Nothing appears on the screen?</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="screen">
    <div class="balloon-dialog">
      <div class="row">
        <span class="icon-cross"></span>
      </div>
      <div class="l-grid-wrapper">
        <div class="row">
          <span class="label bold center">Please check the below</span>
        </div>
        <div class="row">
          <span class="icon plug"></span>
          <p class="text">
            <span>Is your air purifier plugged in?</span><br>
            <span class="middle-text">It does not matter if your device is on or off for the app to successfully connect.</span>
          </p>
        </div>
        <div class="row">
          <span class="icon bluetooth"></span>
          <p class="text">
            <span>Is the Bluetooth&reg; ON?</span><br>
            <span class="middle-text">Bluetooth needs to be turned "ON" in your device settings.</span>
          </p>
        </div>
        <div class="row">
          <span class="icon simultaneous"></span>
          <p class="text">
            <span>Trying to connect multiple devices simultaneously? </span><br>
            <span class="middle-text">Connect only one device at a time.</span>
          </p>
        </div>
        <div class="row">
          <p class="text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  'use strict';

(function($) {

  var SEARCH_INTERVAL = 1000; //ms
  var RELEVANCE_LIMIT = 5;
  var relevanceCount;

  // 対象デバイス(ペア)の検索を繰り返す
  var searchStart = (function() {
    var timerId;
    var startTime = new Date().getTime();
    relevanceCount = 0;
    return function() {
      if (timerId) {
        clearTimeout(timerId);
      }
      timerId = setTimeout(function() {
        searchTargetDevices(startTime, function(success) {
          if (success) {
            // 1. BLE/Wifi Gatewayのリセット(LocalKeyの削除)
            // 2. 機器側リセット(サーバーリセット)
            loading(true);
            _targetBwGateway.unregisterDevice(function() {
              _targetPurifier.resetDevice(function() {
                loading(false);
                Activity.closeSelf();
              },
              function(err) {
                _guardian.log('[Purifier] reset failed.');
                loading(false);
                errorExit(err);
              });
            },
            function(err) {
              _guardian.log('[BWG] unregister failed.');
              loading(false);
              errorExit(err);
            });
          } else {
            // やり直し
            searchStart();
          }
        });
      }, SEARCH_INTERVAL);
    }
  })();

  $(function() {
    $('.close-button').click(closeHandler);
    $('.footer .balloon')
    .on('touchstart', function() {
      $(this).addClass('pressed');
    })
    .on('touchend touchcancel', function() {
      $(this).removeClass('pressed');
    })
    .on('click', function() {
      $('.screen').addClass('fade-in');
    });
    var $screen = $('.screen');
    $('.icon-cross', $screen).click(function() {
      $screen.addClass('fade-out').removeClass('fade-in');
      setTimeout(function() {
        $screen.removeClass('fade-out');
      }, 1000);
    });
    /* ビーコン検索して登録対象デバイスのペアを見つける */
    searchStart();
  });

  function searchTargetDevices(startTime, callback) {
    _guardian.findRegisterableDevices(startTime,
      // success
      function(devices) {
        var purifiers = [], bwgateways = [];
        // PurifierとBwGateway両方が1つずつ含まれていることが条件
        devices.forEach(function(device) {
          if (device instanceof Purifier) {
            purifiers.push(device);
          } else
          if (device instanceof BwGateway) {
            bwgateways.push(device);
          } else {
            _guardian.log('unknown device object:', device);
          }
        });
        if (purifiers.length == 1 && bwgateways.length == 1) {
          // JM1の組み合わせが変わっていたらカウントリセット
          if ((!_targetPurifier  || _targetPurifier.getUniqueId()  != purifiers[0].getUniqueId()) ||
              (!_targetBwGateway || _targetBwGateway.getUniqueId() != bwgateways[0].getUniqueId())) {
            relevanceCount = 0;
          }
          if (RELEVANCE_LIMIT <= ++relevanceCount) {
            doCallback(callback, true);
          } else {
            // Resetモードの場合、機器側のJM1は指定されたものから変動させない
            if (isResetMode()) {
              _targetPurifier  = purifiers[0];
            }
            _targetBwGateway = bwgateways[0];

            doCallback(callback, false);
          }
        } else {
          relevanceCount = 0;
          _guardian.log('purifiers:', purifiers);
          _guardian.log('bwgateways:', bwgateways);
          // 複数台見つかる場合は注意喚起
          conflictNote(1 < purifiers.length || 1 < bwgateways.length);

          doCallback(callback, false);
        }
        _guardian.log('Relevance count:' + relevanceCount);
      },
      // error
      function() {
    	doCallback(callback, false);
      }
    );
  }

  function errorExit(err) {
    var errMessage = errorText(err) || 'Unknown error.';
    Activity.showDialog({title: 'Reset ERROR', message: errMessage}, function() {
      Activity.closeSelf();
    });
  }

  function conflictNote(shown) {
    if (shown) {
      $('#conflict-note').removeClass('fade-out').addClass('fade-in');
    } else {
      $('#conflict-note').removeClass('fade-in').addClass('fade-out');
    }
  }

})(jQuery);
</script>
