<div id="startup-panel">
  <div class="content">
    <div class="row thin center">
      <div class="logo"></div>
    </div>
    <div class="row center">
      <input id="username" type="email" placeholder="email or username">
    </div>
    <div class="row center">
      <input id="password" type="password" placeholder="password">
    </div>
    <div class="row thin right">
      <span id="password-button" class="value anchor">Forgot password</span>
    </div>
    <div class="row trans">
      <div id="login-button" class="label l-button clear disabled">
        <span>Log in</span>
      </div>
    </div>
    <div class="row trans devider">
      <h1><span>Don't have an account?</span></h1>
    </div>
    <div class="row trans">
      <div id="create-button" class="label l-button">
        <span>Create account</span>
      </div>
    </div>
    <div class="row thin trans center">
      <span>or</span>
    </div>
    <div class="row thin trans center">
      <span id="account-help" class="icon-help"></span>&nbsp;<span id="guest-login" class="anchor">Use the guest mode</span>
    </div>
  </div>
</div>
<script type="text/javascript">
  'use strict';

(function($) {
  var _$panel;
  var _$inputId;
  var _$inputPass;
  var _$buttonLogin;

  $(function() {
    initialize();
  });

  function initialize() {
    _$panel = $('#startup-panel');
    _$inputId = $('#username', _$panel).change(validate);
    _$inputPass = $('#password', _$panel).change(validate);
    _$buttonLogin = $('#login-button', _$panel).click(loginHandler);

    setKeyupHandler(_$inputId, validate);
    setKeyupHandler(_$inputPass, validate);

    $('#password-button', _$panel).click(passwordHandler);
    $('#create-button', _$panel).click(createAccountHandler);
    $('#account-help', _$panel).click(accountHelpHandler);
    $('#guest-login', _$panel).click(guestLoginHandler);

    $('.l-button').pressable();
  }

  function validate() {
    if (_$inputId.val().trim().length && _$inputPass.val().length) {
      _$buttonLogin.removeClass('disabled');
    } else {
      _$buttonLogin.addClass('disabled');
    }
  }

  function setKeyupHandler($input, callback) {
    $input.data('prev', $input.val());
    $input.keyup(function(e) {
      var v = $input.val();
      if ($input.data('prev') != v) {
        $input.data('prev', v);
        callback();
      }
    });
  }

  function loginHandler(event) {
    log('loginHandler');
    if (_$buttonLogin.hasClass('disabled')) {
      return;
    }
    var username = $('#username').val().trim();
    var password = $('#password').val();
    if (!username || !password) {
      var message = "username can't be blank.";
      if (username) {
        message = "password can't be blank.";
      }
      Activity.showDialog({message: message});
      return;
    }
    loginCommon({username: username, password: password});
  }

  function passwordHandler(event) {
    log('passwordHandler');
    var url = _guardian.getLinkUrl(Guardian.Link.ACCOUNT_RESET_PASSWORD);
    if (url && Activity.launchActivity(url)) {
      // TODO: afterProc
    }
  }

  function createAccountHandler(event) {
    var url = _guardian.getLinkUrl(Guardian.Link.SIGNUP);
    if (url && Activity.launchActivity(url)) {
      Activity.addEventListener('onResume', function() {
        hubea.system.activity.getResult(function(result) {
          if (!$.isPlainObject(result) || !result.username || !result.password) {
            return;
          }
          loginCommon({username: result.username, password: result.password});
        });
      }, true);
    }
  }

  function guestLoginHandler(event) {
    loginCommon({});
    //routes.dashboard.top('left');
  }

  function accountHelpHandler(event) {
    routes.startup.help(true);
  }

  function pauseHandler() {
    setTimeout(function() {
      if (Activity.swapAvailableCache(true)) {
        return;
      }
    }, 0);
  }

  function loginCommon(args) {
    loading(true);
    _guardian.accountLogin(args, function() {
      loading(false);
      routes.dashboard.top('left');
    }, function(err, data) {
      loading(false);
      var title = 'Failed to log in';
      var message = 'Please confirm the network is actually connected to internet.';
      if (err === Guardian.ErrorTypes.CS_ERROR && data === Guardian.ErrorTypes.GS_INVALID_ACCOUNT) {
        message = 'Your username or password is incorrect.';
      }
      Activity.showDialog({title: title, message: message}, function() {
        $('#password').val('').trigger('change');
      });
    });
  }

})(jQuery);

</script>
</html>
