<div id="vcontrol-panel" class="s2">
  <div class="header">
    <div class="back-button">
      <span class="icon-prev"></span>
    </div>
    <div class="title">
      <span>How to setup voice control</span>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <p class="text">
        <span class="hilight">Requirement</span><br>
        <span>To use the voice control, please prepare the below in advance.</span>
      </p>
    </div>
    <div class="row">
      <p class="balloon">
        <span class="bold">Amazon Echo & Alexa Devices</span><br>
        <span id="alexa-button" class="anchor">&raquo;For more details</span>
      </p>
    </div>
    <div class="row">
      <p class="balloon">
        <span class="bold">Amazon Alexa app</span><br>
        <span>You can download by App Store or Google Play Store. Please login with your Amazon account.</span>
      </p>
    </div>
    <div class="row">
      <p class="text">
        <span class="hilight">Please check your device settings</span><br>
        <span>Wi-Fi setting is required. You can check the status of Wi-Fi setting in the Device Settings screen.</span>
      </p>
    </div>
    <div class="row">
      <p class="balloon">
        <img src="./img/ht-vc01.jpg">
      </p>
    </div>
    <div class="row">
      <p class="text">
        <span class="hilight">1, Log in with Guardian TE account</span><br>
        <span>If you have already logged in, skip this step.</span>
      </p>
    </div>
    <div class="row">
      <p class="balloon">
        <img src="./img/ht-vc02.jpg">
      </p>
    </div>
    <div class="row">
      <p class="text">
        <span class="hilight">2, Account link with Amazon Alexa</span><br>
        <span>Open the "Home" screen of Amazon Alexa app, and say "Alexa, enable Guardian Technologies" to your Amazon Echo device. Then you can proceed setup follow the instruction.</span>
      </p>
    </div>
  </div>
</div>
<script type="text/javascript">
  'use strict';

(function($) {
  var _$panel;

  $(function() {
    _$panel = $('#vcontrol-panel.s2');

    $('#alexa-button', _$panel).click(alexaHandler);
    $('.back-button', _$panel).click(backHandler);
  });

  function alexaHandler() {
    log('alexaHandler');
    Activity.launchApp('https://www.amazon.com/b/?ie=UTF8&node=9818047011&ref_=fs_ods_fs_aucc_cp');
  }

  function backHandler() {
    log('backHandler');
    routes.vcontrol.alexa_top('right');
  }

})(jQuery);
</script>
