<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="hubea">
  <link href="css/admin.css" rel="stylesheet">
  <title>Change Password | Guardian TE</title>
</head>
<body>
  <div id="app">

    <header>
      <nav class="m-navbar">
        <div class="left-button icon-arr-l" v-on:click="returnToHome"></div>
        <span class="title">Change Password</span>
      </nav>
    </header>

    <div id="l-wrapper">

      <div class="absoluter-c-msg" v-show="errorMessage">
        <!--msg-area-->
        <div class="m-msg-box-login01">{{ errorMessage }}</div>
        <!--//msg-area-->
      </div>

      <div class="m-page-main-wrap">
        <!--main-area-->
        <div class="m-box-main">
          <div class="m-box-inner-form-wrap-wide">
            <form v-on:submit.prevent>
              <ul class="m-box-inner-form-para">
                <li>
                  <input type="password" class="m-form-min" placeholder="Old password" v-model="oldPassword" v-bind:class="{'is-error-field': errors.oldPassword()}">
                  <p class="m-message-para is-error" v-show="errors.oldPassword()">{{ errors.oldPassword() }}</p>
                </li>
                <li>
                  <input type="password" class="m-form-min" placeholder="New password" v-model="newPassword" v-bind:class="{'is-error-field': errors.newPassword()}">
                  <p class="m-message-para is-error" v-show="errors.newPassword()">{{ errors.newPassword() }}</p>
                </li>
                <li>
                  <input type="password" class="m-form-min" placeholder="Confirm new password" v-model="confirmNewPassword" v-bind:class="{'is-error-field': errors.confirmNewPassword()}">
                  <p class="m-message-para is-error" v-show="errors.confirmNewPassword()">{{ errors.confirmNewPassword() }}</p>
                </li>
              </ul>
              <div>
                <ul class="m-box-inner-btn-para">
                  <li>
                    <button type="button" class="m-btn" v-on:click="changePassword" v-bind:disabled="hasError">Change Password</button>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </div>
        <!--//main-area-->
      </div>

    </div>

  </div>
  <script src="js/vendor/vue.min.js"></script>
  <script src="js/vendor/jquery-2.2.4.min.js"></script>
  <script src="js/vendor/jsbn.js"></script>
  <script src="js/vendor/jsbn2.js"></script>
  <script src="js/vendor/sjcl.js"></script>
  <script src="js/vendor/aws-cognito-sdk.min.js"></script>
  <script src="js/vendor/amazon-cognito-identity.min.js"></script>
  <script src="js/cognito.js"></script>
  <script src="../js/hubea-r8533.js"></script>
  <script src="js/change_password.js"></script>
</body>
</html>
