<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="hubea">
  <link href="css/admin.css" rel="stylesheet">
  <title>Change Email | Guardian TE</title>
</head>
<body>
  <div id="app">

    <header>
      <nav class="m-navbar">
        <div class="left-button icon-arr-l" v-on:click="returnToHome"></div>
        <span class="title">Change Email</span>
      </nav>
    </header>

    <div id="l-wrapper">

      <div class="absoluter-c-msg" v-show="errorMessage">
        <!--msg-area-->
        <div class="m-msg-box-login01">{{ errorMessage }}</div>
        <!--//msg-area-->
      </div>

      <div class="m-page-main-wrap">
        <!-- start:change_email -->
        <div class="m-box-main" v-show="(state == 'change_email')">
          <div class="m-box-main-section">
            <p>Old e-mail address:</p>
            <p>{{ user.email }}</p>
            <p class="is-error" v-show="!user.email_verified">
              E-mail address has not been set. Please add your e-mail address.
            </p>
          </div>
          <div class="m-box-inner-form-wrap-wide">
            <form v-on:submit.prevent>
              <ul class="m-box-inner-form-para">
                <li>
                  <input type="email" class="m-form-min" placeholder="New e-mail address" v-model="newEmail" v-bind:class="{'is-error-field': errors.newEmail()}">
                  <p class="m-message-para is-error" v-show="errors.newEmail()">{{ errors.newEmail() }}</p>
                </li>
              </ul>
              <div>
                <ul class="m-box-inner-btn-para">
                  <li>
                    <button type="button" class="m-btn" v-on:click="changeEmail" v-bind:disabled="hasError">Continue</button>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </div>
        <!-- end:change_email -->

        <!-- start:confirm -->
        <div class="m-box-main" v-show="(state == 'confirm')">
          <h1 class="m-page-title">Enter your confirmation code</h1>
          <div class="m-box-main-section">
            <p>
              An email with a confirmation code has been sent to {{ newEmail }}.<br>
              Check your email and enter the confirmation code below. <br>
              <a href="#" target="_new" v-on:click.stop.prevent="resendConfirmationCode">Resend email</a>
            </p>
          </div>
          <div class="m-box-inner-form-wrap-wide">
            <form v-on:submit.prevent>
              <ul class="m-box-inner-form-para">
                <li>
                  <span class="clearfix">
                    <input type="password" class="m-form-min" placeholder="Enter confirmation code" v-model="confirminationCode">
                  </span>
                  <p class="m-message-para is-error" v-show="errors.confirminationCode()">{{ errors.confirminationCode() }}</p>
                </li>
              </ul>
              <div>
                <ul class="m-box-inner-btn-para">
                  <li>
                    <button type="button" class="m-btn" v-on:click="confirmEmail" v-bind:disabled="hasError">Confirm</button>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </div>
        <!-- end:confirm -->
      </div>

    </div>

  </div>
  <script src="js/vendor/vue.min.js"></script>
  <script src="js/vendor/jquery-2.2.4.min.js"></script>
  <script src="js/vendor/jsbn.js"></script>
  <script src="js/vendor/jsbn2.js"></script>
  <script src="js/vendor/sjcl.js"></script>
  <script src="js/vendor/aws-cognito-sdk.min.js"></script>
  <script src="js/vendor/amazon-cognito-identity.min.js"></script>
  <script src="js/cognito.js"></script>
  <script src="../js/hubea-r8533.js"></script>
  <script src="js/change_email.js"></script>
</body>
</html>
