<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="hubea">
  <link href="css/admin.css" rel="stylesheet">
  <title>Reset Password | Guardian TE</title>
</head>
<body>
  <div id="app">

    <header>
      <nav class="m-navbar">
        <div class="left-button icon-close" v-on:click="returnToApp"></div>
      </nav>
    </header>

    <div id="l-wrapper">

      <div class="absoluter-c-msg" v-show="errorMessage">
        <!--msg-area-->
        <div class="m-msg-box-login01">{{ errorMessage }}</div>
        <!--//msg-area-->
      </div>

      <div class="m-box-wrap">
        <!-- reset_password:start -->
        <div class="m-box absoluter-c-position" v-show="(state == 'reset_password')">
          <div class="m-box-logo-info">
            <div class="start-logo"><img src="img/logo.jpg" alt=""></div>
            <p class="start-logo02">Guardian TE</p>
            <p class="m-box-logo-info-header">Reset Password</p>
          </div>
          <div class="m-box-inner-form-wrap-wide">
            <form v-on:submit.prevent>
              <ul class="m-box-inner-form-para">
                <li>
                  <input type="text" class="m-form-min" placeholder="user ID or email" maxlength="128" autocorrect="off" autocapitalize="none" v-model.trim="username" v-bind:class="{'is-error-field': errors.username()}">
                  <p class="m-message-para is-error" v-show="errors.username()">{{ errors.username() }}</p>
                </li>
              </ul>
              <div>
                <ul class="m-box-inner-btn-para">
                  <li>
                    <button type="button" class="m-btn" v-on:click="resetPassword" v-bind:disabled="hasError">Continue</button>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </div>
        <!-- reset_password:end -->

        <!-- confirm:start -->
        <div class="m-box absoluter-c-position" v-show="(state == 'confirm')">
          <div class="m-box-logo-info">
            <div class="start-logo"><img src="img/logo.jpg" alt=""></div>
            <p class="start-logo02">Guardian TE</p>
            <p class="m-box-logo-info-header">Enter your confirmation code</p>
          </div>
          <div class="m-box-inner-form-wrap-wide mrb20">
            <p>
              An email with a confirmation code has been sent to your registered e-mail address.<br>
              Check your email and enter the confirmation code below. <br>
              <a href="#" target="_new" v-on:click.stop.prevent="resendConfirmationCode">Resend email</a>
            </p>
            <form v-on:submit.prevent>
              <ul class="m-box-inner-form-para">
                <li>
                  <span class="clearfix">
                    <input type="password" class="m-form-min" placeholder="Enter confirmation code" v-model="confirminationCode" v-bind:class="{'is-error-field': errors.confirminationCode()}">
                  </span>
                  <p class="m-message-para is-error" v-show="errors.confirminationCode()">{{ errors.confirminationCode() }}</p>
                </li>
                <li>
                  <span class="clearfix">
                    <input type="password" class="m-form-min" placeholder="New password" v-model="newPassword" v-bind:class="{'is-error-field': errors.newPassword()}">
                  </span>
                  <p class="m-message-para is-error" v-show="errors.newPassword()">{{ errors.newPassword() }}</p>
                </li>
                <li>
                  <span class="clearfix">
                    <input type="password" class="m-form-min" placeholder="Confirm new password" v-model="confirmNewPassword" v-bind:class="{'is-error-field': errors.confirmNewPassword()}">
                  </span>
                  <p class="m-message-para is-error" v-show="errors.confirmNewPassword()">{{ errors.confirmNewPassword() }}</p>
                </li>
              </ul>
              <div>
                <ul class="m-box-inner-btn-para">
                  <li>
                    <button type="button" class="m-btn" v-on:click="confirmResetPassword" v-bind:disabled="hasError">Confirm</button>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </div>
        <!-- confirm:end -->
      </div>

    </div>
  </div>
  <script src="js/vendor/vue.min.js"></script>
  <script src="js/vendor/jquery-2.2.4.min.js"></script>
  <script src="js/vendor/jsbn.js"></script>
  <script src="js/vendor/jsbn2.js"></script>
  <script src="js/vendor/sjcl.js"></script>
  <script src="js/vendor/aws-cognito-sdk.min.js"></script>
  <script src="js/vendor/amazon-cognito-identity.min.js"></script>
  <script src="js/cognito.js"></script>
  <script src="../js/crypto-js/rollups/md5.js"></script>
  <script src="../js/crypto-js/components/enc-base64-min.js"></script>
  <script src="../js/hubea-r8533.js"></script>
  <script src="js/hubea.delegate.js"></script>
  <script src="js/reset_password.js"></script>
</body>
</html>
