<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="hubea">
  <link href="css/admin.css" rel="stylesheet">
  <title>Create Account | Guardian TE</title>
</head>
<body>
  <div id="app">

    <header>
      <nav class="m-navbar">
        <div class="left-button icon-close" v-on:click="returnToApp"></div>
      </nav>
    </header>

    <div id="l-wrapper">

      <div id="errorMessage" class="absoluter-c-msg" v-show="errorMessage">
        <!--msg-area-->
        <div class="m-msg-box-login01">{{ errorMessage }}</div>
        <!--//msg-area-->
      </div>

      <div class="m-box-wrap">
        <!-- signup:start -->
        <div class="m-box absoluter-c-position signup" v-show="(state == 'signup')">
          <div class="m-box-logo-info">
            <div class="start-logo"><img src="img/logo.jpg" alt=""></div>
            <p class="start-logo02">Guardian TE</p>
            <p class="m-box-logo-info-header">Create a new account</p>
          </div>
          <div class="m-box-inner-form-wrap-wide">
            <form v-on:submit.prevent>
              <ul class="m-box-inner-form-para">
                <li>
                  <input type="text" class="m-form-min" placeholder="user ID (Cannot be changed later)" maxlength="128" autocorrect="off" autocapitalize="none" v-model.trim="username" v-bind:class="{'is-error-field': errors.username()}">
                  <p class="m-message-para is-error" v-show="errors.username()">{{ errors.username() }}</p>
                </li>
                <li>
                  <input type="email" class="m-form-min" placeholder="email" v-model="email" v-bind:class="{'is-error-field': errors.email()}">
                  <p class="m-message-para is-error" v-show="errors.email()">{{ errors.email() }}</p>
                </li>
                <li>
                  <input type="password" class="m-form-min" placeholder="password" v-model="password" v-bind:class="{'is-error-field': errors.password()}">
                  <p class="m-message-para is-error" v-show="errors.password()">{{ errors.password() }}</p>
                </li>
                <li>
                  <input type="password" class="m-form-min" placeholder="password confirmation" v-model="confirmPassword" v-bind:class="{'is-error-field': errors.confirmPassword()}">
                  <p class="m-message-para is-error" v-show="errors.confirmPassword()">{{ errors.confirmPassword() }}</p>
                </li>
              </ul>
              <div class="m-agreement">
                <p style="font-weight:bold;">Agreement</p>
                <p style="font-size:12px;line-height:1.3;">This service is brought to you by Aplix Corporation. By using this service, you agree and consent to:the Aplix Licensed Application End User License Agreement (<a href="#" target="_new" v-on:click.stop.prevent="gotoEula">EULA</a>,
including the Aplix <a href="#" target="_new" v-on:click.stop.prevent="gotoPrivacyPolicy">Privacy Policy</a>); arbitration before the International Chamber of Commerce for any disputes between us; and Guardian Technologies <a href="#" target="_new" v-on:click.stop.prevent="gotoTermsOfUse">Terms of Use</a> (including the Guardian Technologies Privacy Policy).</p>
                <div class="m-agreement-check"><input id="agree" type="checkbox" v-model="agree"><label for="agree">I have read and agree with these terms.</label></div>
              </div>

              <div>
                <ul class="m-box-inner-btn-para">
                  <li>
                    <button type="button" class="m-btn" v-on:click="signUp" v-bind:disabled="hasError">Continue</button>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </div>
        <!-- signup:end -->

        <!-- confirm:start -->
        <div class="m-box absoluter-c-position" v-show="(state == 'confirm')">
          <div class="m-box-logo-info">
            <div class="start-logo"><img src="img/logo.jpg" alt=""></div>
            <p class="start-logo02">Guardian TE</p>
            <p class="m-box-logo-info-header">Enter your confirmation code</p>
          </div>
          <div class="m-box-inner-form-wrap-wide mrb20">
            <p>
              An email with a confirmation code has been sent to {{ email }}.<br>
              Check your email and enter the confirmation code below. <br>
              <a href="#" target="_new" v-on:click.stop.prevent="resendConfirmationCode">Resend email</a>
            </p>
            <form v-on:submit.prevent>
              <ul class="m-box-inner-form-para">
                <li>
                  <span class="clearfix">
                    <input type="password" class="m-form-min" placeholder="Enter confirmation code" v-model="confirminationCode" v-bind:class="{'is-error-field': errors.confirminationCode()}">
                  </span>
                  <p class="m-message-para is-error" v-show="errors.confirminationCode()">{{ errors.confirminationCode() }}</p>
                </li>
              </ul>
              <div>
                <ul class="m-box-inner-btn-para">
                  <li>
                    <button type="button" class="m-btn" v-on:click="confirmRegistration" v-bind:disabled="hasError">Confirm</button>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </div>
        <!-- confirm:end -->

      </div>
    </div>
  </div>
  <script src="js/vendor/vue.min.js"></script>
  <script src="js/vendor/jquery-2.2.4.min.js"></script>
  <script src="js/vendor/jsbn.js"></script>
  <script src="js/vendor/jsbn2.js"></script>
  <script src="js/vendor/sjcl.js"></script>
  <script src="js/vendor/aws-cognito-sdk.min.js"></script>
  <script src="js/vendor/amazon-cognito-identity.min.js"></script>
  <script src="js/cognito.js"></script>
  <script src="../js/hubea-r8533.js"></script>
  <script src="js/signup.js"></script>
</body>
</html>
